# See http://help.github.com/ignore-files/ for more about ignoring files.


# virtual environments
/venv

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/